@font-face{
    font-family:D-DIN-Bold;
    src:url(fonts/D-DIN-Bold.woff2)
    format("woff2"),
    url(fonts/D-DIN-Bold.woff)
    format("woff"),
    url(fonts/D-DIN-Bold.otf) 
    format("opentype");
    font-style:normal;
    font-weight:400;
    font-display:block
}



@media only screen and (min-width: 600px) {

    body {
        background-color: #1A1A1A;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
    }

    .top {
        height: 6em;
        background-color: #383838;

        border-color: #fff;
        border-style: hidden;
        border-color: #383838;
        border-width: 1px;
        margin-left: -8px;
        margin-right: -8px;
        position: relative;
        display: flex;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .center {
        text-align: center;
    }

    .menu-item {
        float: left;
        margin-left: 5em;
        margin-right: 5em;;
    }

    #mi1 {
        left: 3em;
    }

    #mi2 {
        left:10em;
        font-family: 'Segoe UI Black', Tahoma, Geneva, Verdana, sans-serif;
    }

    #mi3 {
        left: 17em;
    }

    #mi4 {
        left: 21em;
    }

    #mi5 {
        left: 27.5em;
    }

    .menu-link {
        font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
        font-size: 19px;
        color: white;
        font-style: normal;
        text-decoration: none;
    }
    
    .page-content {
        margin: auto;
        margin-top: 3em;
        width: 85%;
        background-color: #2B2B2B;
        padding: 1%;
        border-radius: 30px;
        border-style: dashed;
        border-color: #fff;
        border-width: 0.05%;
    }

    .downloads {
        margin: auto;
        text-align: left;
        width: fit-content;
    }

    .download-link {
        background-color: #5A6BFD;
        border-radius: 5px;
        padding: 4px;
        color: #fff;
        text-decoration: none;
        font-size: 20pt;
    }
}

@media only screen and (max-width: 600px) {

    body {
        background-color: #1A1A1A;
        color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 0;
    }


    .top {
        height: 6em;
        background-color: #383838;
        border-color: #fff;
        border-style: hidden;
        border-color: #383838;
        border-width: 1px;
        margin-left: -8px;
        margin-right: -8px;
        position: relative;
        display: flex;
    }
    #mi1 {
        width: 60px;
        height: 60px;
    }/*

    #mi2 {
        left: 5.8em;
    }

    .menu-item {
        float: left;
        margin-left: 5em;
        margin-right: 5em;
    }

    .menu-link {
        font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
        font-size: 19px;
        color: white;
        font-style: normal;
        text-decoration: none;
    }

    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    
    .center {
        text-align: center;
    }

    #mi3 {
        left: 12em;
    }
    #mi4 {
        left: 15em;
    }*/
}